@import '~antd/dist/antd.less';
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Great+Vibes&family=IM+Fell+French+Canon&family=Satisfy&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//CUSTOM CSS
//COLOR PALATTE
//background: liver chestnut #9C7957
//box color: oxford blue #0D2149
//periwinkle #BBC2E2 
//rocket metallic #898080
//midnight blue #18206F
//dark liver #554E4E


/* Base level CSS */
#root{
  background-color:  #9c7957;
  // font-family: "Satisfy", cursive;
  // font-family: "Great Vibes", cursive;
  // font-family: 'IM Fell French Canon', serif;
  font-family: 'Cinzel', serif; 
  color: #0D2149;
  width: 100vw;
  height: auto
}
//form submit button - part 1 of 2
.ant-btn:not([disabled]):hover{
  color: #BBC2E2;
  background-color: #0D2149;
  border-color:#898080;  
}

.ant-image-preview-operations-operation:not(:first-child) {
  display: none;
}

//form submit button - part 2 of 2
.ant-btn-primary {
  color: #0D2149;
  background-color:  #898080;
  border-color:#0D2149;
}

//HOMEPAGE
#pennyJarImage{
  // padding: 3%;
  margin: 3%;
  top: 2vh;
  border: 8px solid #0D2149;
  left: 5vw
}

.ant-layout-sider-children {
  background-color: #0D2149;
}

//NAVBAR
.ant-layout-header {
  background-color:   #0D2149;
}

//navbar background of all unselected items
.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub .ant-menu-item-selected {
  background-color:  #0D2149;
}

//navbar words
.ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a, .ant-menu-dark .ant-menu-item > span > a {
  color: white;
}

#pennyJarLogo{
  top: 10px;
  
}


//USER CREATE & LOGIN
#pennyJarImage2{
  // padding: 3%;
  margin: 3%;
  top: 1vh;
  border: 10px solid #9c7957;
  left: 5vw
}

.boxbg{
  padding: 2%;
  margin:2%;
  background-color:#0D2149;
  color:  #9c7957
}

.ant-form-item-label > label{
  color:  #9c7957;
  font-size: 120%
}

.ant-form label{
  color:  #9c7957
}

.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  color:  #9c7957
}

//HOMEPAGE
.title{
  color:  #9c7957;
  text-align:center;
  font-size: 500%
}

h1, h2, h3, h4, h5, p{
  color:  #9c7957;
  text-align:center;
}

#toggleButton{
  left:40%
}

//DONATION, REQUEST, PROFILE
table, th, td{
  border: 2px solid #9c7957;
  text-align:center;
  font-size: 105%
}

#formTitles{
  color:  #9c7957;
  text-align:center;
  font-size: 250%
}

#fieldWords{
  color:  #898080;
  text-align:match-parent;
}


//FOOTER
.ant-layout {
  background-color:#0D2149
}

#footerText {
  position: relative;
  color: #9c7957;
  background-color: #0D2149
}
#footerLeft {
  float:left;
  color: #9c7957;
}
#footerRight {
  float:right;
  color: #9c7957;
}
#footerCenter {
  text-align:center;
  position: absolute;
  right: 0;
  left: 0;
  color: #9c7957;
}